<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 px-md-4 mb-4 bg-white border-bottom shadow-sm fixed-top">
   
    <img src="assets/images/logo.png" style="max-height:90px; " alt="logo"/>

    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size:larger;">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none mr-4" href="#">HOME</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none mr-4" href="#">SHOP</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none mr-4" href="#">SUPPORT</a>
       
    </nav>
    <div class="d-flex align-items-center">
        <a href="#" class="position-relative ms-auto">
            <i class="fa fa-shopping-cart fa-2x m-2 text-dark"></i>
            <div class="cart-no">4</div>
        </a>
        <a class="btn btn-outline-secondary me-3 mt-2" href="#">Login</a>
        <a class="btn btn-outline-secondary mt-2" href="#">Sign up</a>
    </div>

</div>
